.choice {
  height: 400px;
  display: inline-block;
  width: 100px;
  margin: auto;
  text-align: center;
}

.voteModule {
  margin: auto;
  text-align: center;
  background: #fafafa !important
}

.result {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.resultsModule {
  text-align: center;
}

.voteResults {
  text-align: left;
}
.bar {
  height: 0%;
  width: 70%;
  margin: 0 auto;
}

.bar[data-choice="1"] {
  background-color: red;
}

.bar[data-choice="2"] {
  background-color: green;
}

.bar[data-choice="3"] {
  background-color: blue;
}

.label {
  height: 70px;
  text-align: center;
}

#resultsButton {
  background-color: darkblue;
}