<div id="<%= dom_id vote %>">
  <p>
    <strong>Name:</strong>
    <%= vote.name %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= vote.answer %>
  </p>

  <p>
    <strong>Poll:</strong>
    <%= vote.poll_id %>
  </p>

</div>
